[2015-05-15 12:27] tsg opened #1 "Update Kibana3 dashboard to the new template"
The schema we use has changed s/@timestamp/timestamp, s/request_raw/request, etc.

We have updated the K4 dashboards, but the K3 dashboards, which can still be used for getting the topology map are not yet updated.

[2015-06-08 14:43] slimm609 opened #2 "Zero or negative time interval not supported"
using the dashboards 1.0.0-beta with kibana 4.0.2 and elasticsearch 1.5.2  I get these errors several times whenever any dashboard is accessed.

[2015-06-08 10:39:44,766][DEBUG][action.search.type       ] [Phil Urich] All shards failed for phase: [query]
org.elasticsearch.search.SearchParseException: [packetbeat-2015.06.08][0]: from[-1],size[0]: Parse Failure [Failed to parse source [{"size":0,"ag

[2015-09-10 13:04] bascht commented on #2
Same here.
Packetbeat 1.0.0-beta3, ES 1.7.11, Kibana 4.1.1.

[2015-09-10 17:45] bascht commented on #2
@slimm609 Try selecting a proper interval for the saved searches:
![screenshot-2015-09-10-194424-360x430](https://cloud.githubusercontent.com/assets/51264/9796072/75db5f3a-57f4-11e5-870c-c51c736de944.png)

Fixed it for me. :)

[2015-09-13 21:03] monicasarbu opened #6 "In Kibana proc.cpu.user_p is null"
proc.cpu.user_p is of type percentage. Even the value stored in ES seems to be ok, Kibana shows an empty value.
<img width="713" alt="screen shot 2015-09-13 at 11 02 31 pm" src="https://cloud.githubusercontent.com/assets/11757159/9838968/a0726cd8-5a6b-11e5-92d9-5aec56729c15.png">

Using ES version 1.7.0 and Kibana 4.1.1

[2015-09-14 19:58] monicasarbu commented on #6
Fixed by PR: https://github.com/elastic/topbeat/pull/34

[2015-09-14 19:58] #6 closed, assigned to nobody

[2015-09-16 10:16] monicasarbu opened #8 "Update Packetbeat related screenshots"
The Navigation widget changed by adding Topbeat dashboard into the picture. As the navigation widget is available in all Packetbeat dashboards, it would be nice to redo the screenshots.

[2015-09-21 07:43] ruflin opened #13 "Create example dashboard for filebeat"
Create a kibana dashboard for example for apache, nginx and system logs

@markwalkom also has an interesting dashboard collection here: https://github.com/markwalkom/kibana-dashboards

[2015-09-21 08:13] markwalkom commented on #13
Too bad they are only KB3 :(

[2015-09-21 09:53] monicasarbu commented on #8
Done in master.

[2015-09-21 09:53] #8 closed, assigned to nobody

[2015-09-21 09:55] monicasarbu opened #15 "Create example dashboard for Memcache"
It would be nice if we can include an example dashboard for Memcache as well. A screenshot would be useful for doc.

[2015-09-21 09:56] monicasarbu opened #16 "Update demo"
Update demo with the latest version of all Kibana dashboards.

[2015-09-25 18:30] dac514 opened #17 "load.sh: 48: printf: Illegal option -v"
On Ubuntu 14.04 running

`./load.sh http://localhost:9200`

Gives the following error(s):

[code]

First line should probably be: #!/bin/bash.

@see http://stackoverflow.com/questions/28302474/shellscript-throws-errors-but-somehow-is-still-working

Workaround:

`bash ./load.sh http://localhost:9200`

[2015-09-25 23:19] andrewkroh commented on #17
Thanks for reporting this.

[2015-09-27 10:08] #17 closed, assigned to andrewkroh

[2015-10-16 16:23] monicasarbu commented on #2
Closing this issue as it is likely a configuration error.

[2015-10-16 16:23] #2 closed, assigned to nobody

[2015-10-20 09:56] tsg opened #21 "Check that current dashboards work with Kibana 4.1.2 and 4.2.0-beta"

[2015-10-20 22:25] #1 closed, assigned to tsg

[2015-10-20 22:29] monicasarbu commented on #21
In Kibana 4.1.2 the following error is raised:

<pre>
TypeError: Cannot read property 'hasNoDsl' of undefined
    at http://localhost:5601/index.js?_b=7562:144195:28
    at Array.filter (native)
    at AggConfigsFactory.AggConfigs.toDsl (http://localhost:5601/index.js?_b=7562:144194:8)
    at http://localhost:5601/index.js?_b=7562:157223:32
    at SearchSourceFactory.SearchSource._mergeProp (http:

[2015-10-21 12:58] monicasarbu commented on #21
The same error appears in kibana 4.1.1. It works just fine in 4.2.0-beta1.

[2015-10-21 17:47] andrewkroh opened #22 "Add filebeat index pattern"
The libbeat getting started guide says that the `[filebeat-]YYYY.MM.DD` index will be created by `load.sh` but it doesn't exist in this project.

[2015-10-21 19:42] monicasarbu commented on #21
Fixed in https://github.com/elastic/beats-dashboards/pull/23.

[2015-10-21 20:07] monicasarbu commented on #21
Kibana 4.1.1 and Kibana 4.1.2 doesn't really work with Elasticsearch 2.0.0-beta1. So, all these errors are coming from there. We have to say explicitly in the getting started guide what versions to use.

[2015-10-21 20:44] #21 closed, assigned to monicasarbu

[2015-10-21 21:24] monicasarbu commented on #22
Related to the PR: https://github.com/elastic/beats-dashboards/pull/24

[2015-10-21 21:30] #22 closed, assigned to monicasarbu

[2015-10-27 17:36] monicasarbu commented on #16
We can postpone it after the GA.

[2015-10-27 17:39] monicasarbu opened #26 "Fix proc.cpu.user_p value in the top processes widget"
The _proc.cpu.user_p_ is empty in the _Top processes_ widget from the Topbeat dashboard in case the latest stable versions of Elastisearch and Kibana are used.
Topbeat exports the right value of the proc.cpu.user_p in the JSON object.

[2015-10-27 17:39] monicasarbu commented on #26
It would be nice to fix it for GA, but it might be a Kibana/Elasticsearch issue.

[2015-10-28 10:54] monicasarbu commented on #26
In ES it seems that the value is correctly stored, but Kibana when calling /_msearch it gets back null as value for the `proc.cpu.user_p`.

<pre>
curl 'http://127.0.0.1:5601/elasticsearch/_msearch?timeout=0&ignore_unavailable=true&preference=1446028671256' -H 'Origin: http://127.0.0.1:5601' -H 'Accept-Encoding: gzip, deflate' -H 'Accept-Language: en-US,en;q=0.8,ro;q=0.6,de;q=0.4' -H 'User-Agent: M

[2015-11-04 22:43] monicasarbu opened #29 "Set actual_used_p values to Percentage"
Update the index pattern definitions of topbeat to set actual_used_p values to Percentage.

The PR #93 adds swap.actual_used_p and mem.actual_used_p.

[2015-11-16 09:51] monicasarbu opened #31 "Rename shipper with beat.name in all dashboards"
As of https://github.com/elastic/libbeat/pull/285, beat.name, beat.hostname and beat.version are exported and are affecting all the dashboards.

[2015-11-21 09:01] monicasarbu opened #33 "Find a way to set as Percentage all user_p"
With elastic/topbeat#130, cpu usage is exported per core. We need to find a way to set all the user_p fields as Percentage.

<img width="1132" alt="screen shot 2015-11-21 at 9 42 55 am" src="https://cloud.githubusercontent.com/assets/11757159/11317694/dfd4e288-9036-11e5-8c1e-3844db4c103a.png">

[2015-11-26 03:02] reedloden opened #36 "Update index patterns to use wildcard"
As per https://github.com/elastic/kibana/issues/4342, <beat>-\* is the new hotness. Need to update all the index patterns shipped with the dashboard to use wildcard index patterns rather than the old time-based naming convention.

[2015-11-27 10:16] shaunrampersad opened #37 "No Proc or mem stats available in topbeat dashboard"
Hi
These dashboards are great but some aren't displaying correctly.

My Setup:
Topbeat-1.0.0
Elastic 2.0
Kibana 4.2.0

The cpu graphs are blank. If I look at the visualization and associated saved search, they all return blank even though there are results available in the Discovery search with no filters enabled

I've modified the search query for "Proc Stats" and "Processes" from "type: proc" to

[2015-11-27 10:44] stan commented on #37
Types for those were changed from `proc` to `process`

See https://github.com/elastic/topbeat/commit/c64c139618986c43441421ee5e195807ea38741b

[2015-11-27 11:17] shaunrampersad commented on #37
Changed the Search to "type: process" which fixes it.
NB: the default install of beats-dashboard has "type: proc" as a filter item and not "type: process"

[2015-11-27 11:26] tsg commented on #37
Thanks for reporting, what happened is that we forgot to merge the 1.0.0 branch into master. Now the changes should be in master as well.

Note that we generally recommend downloading the distribution from e.g. http://download.elastic.co/beats/dashboards/beats-dashboards-1.0.0.tar.gz rather than using master. Those "builds" are better tested with the corresponding release.

[2015-11-27 11:26] #37 closed, assigned to nobody

[2015-11-27 11:48] shaunrampersad opened #38 "Allow for custom kibana index"
Hi

By default the load.sh will upload dashboards to http://localhost:9200/.kibana.

In the case of kibana installations which use custom indices, it might be worthwhile making the index a variable within the script so that the dashboard can be uploaded to multiple kibana installs.

E.G:
./load.sh http://localhost:9200 .kibana_env1
./load.sh http://localhost:9200 .kibana_env2

Its not a major issu

[2015-11-27 15:06] ruflin commented on #38
@shaunrampersad Thanks for bringing it up. In case you built a configurable solution for yourself, feel free to open a PR with it.

[2015-11-28 12:06] melck commented on #26
I have used the beat's dashboards with the following versions but i have same issue with top process widget and proc.cpu.user_p is well stored in elasticsearch.

Versions:
- Kibana 4.3
- Elasticsearch 2.1
- Topbeat 1.0.0

[2015-12-01 22:17] lmangani commented on #36
fixing a few array issues, will update PR

[2015-12-03 08:34] shaunrampersad commented on #38
@ruflin I've submitted a PR. Might not be the best solution but its what I've changed on my side to get it working

[2015-12-03 08:37] ruflin commented on #38
@shaunrampersad Thanks. Looks like we have now two proposals for the same thing https://github.com/elastic/beats-dashboards/pull/40 We will have a look at both.

[2015-12-04 19:33] monicasarbu commented on #38
@shaunrampersad @lmangani  Thank you for submitting a PR to solve this issue. To fulfill all requests, I added support for command arguments to the load script:

<pre>
  ./load.sh -url http://localhost:9200 -user admin -index .kenv1
Options:
  -h | -help
    Print the help menu.
  -l | -url
    Elasticseacrh URL. By default is http://localhost:9200.
  -u | -user
    Username to connect to Elastics

[2015-12-04 19:34] monicasarbu commented on #38
Here is the related pull request: https://github.com/elastic/beats-dashboards/pull/42

[2015-12-04 21:38] monicasarbu commented on #38
Fixed by #42.

[2015-12-04 21:38] #38 closed, assigned to nobody

[2015-12-06 03:11] reedloden commented on #36
This is now fixed. Thanks!

[2015-12-06 03:11] #36 closed, assigned to nobody

[2015-12-06 05:58] damm commented on #26
Yeah unfortunately they did not fix this before it was released.

:(

[2015-12-07 14:55] monicasarbu opened #44 "Powershell script to load the Kibana dashboards in Elasticsearch"
Currently, we offer a bash script load.sh to load the Kibana dashboards in Elasticsearch. It would be nice to have a script for the Windows users as well.

[2015-12-07 22:22] damm commented on #2
Question is what was the configuration error?

[2015-12-08 08:27] bascht commented on #2
@damm The prebuilt-dashboards didn't have a interval selected (see my screenshot).

[2015-12-08 20:17] damm commented on #2
@bascht yeah it has to do with the default search I think? I ended up forking this repo as I was only evaluating topbeats

Removed all the things that broke Kibana for me; running `./load.sh -url http://es:9200` breaks Kibana.

https://github.com/elastic/beats-dashboards/blob/master/dashboards/search/Default-Search.json

That default search is what personally broke Kibana, defaults to packetbeat i

[2015-12-08 20:19] damm opened #49 "Getting Zero or negative time interval not supported after running load.sh on non beats indices"
So based in the conversation in #2 I was getting that wonderful error.  It appears the default search when running `load.sh` is looking into packetbeat; I don't use packetbeat.

Anyway this breaks Kibana actually; having to delete the logstash- pattern and rebuild it from scratch

I suspect it's the Default Search item; I forked it and nuked a bunch of crud and it works as I expect.

[2015-12-08 20:20] damm commented on #2
I opened #49 as I recently ran into this after running load.sh from here.  It's not a configuration error; it's because the default search? is looking at the wrong indice for the default search.  My default pattern is logstash- and it's looking in `packeatbeat-*` to draw the histogram.

[2015-12-09 00:51] gerardorochin commented on #26
This error is caused because don't have loaded the template for elasticsearch, try [Loading the Index Template in Elasticsearch](https://www.elastic.co/guide/en/beats/topbeat/current/topbeat-getting-started.html#topbeat-template)

Only apply for new indexes!

[2015-12-09 00:59] damm commented on #26
Oh but I do have the template loaded.  I can see the percentages recorded; but nothing ever draws.

Maybe I will shove it through Logstash instead..

[2015-12-09 07:52] ruflin commented on #49
As far as I can see, this is a general issue that applies to all search patterns, as the index is hardcoded: https://github.com/elastic/beats-dashboards/tree/master/dashboards/search This means, in case you don't use the default index pattern, the searches will not work.

We should probably introduce environment variables where the index patterns for each beat can be defined and are then loaded in

[2015-12-09 09:13] ruflin opened #50 "Test Dashboards with non standard indices for all beats"
Test the dashboards with indices like `logstash-*` or `testing-*` for topbeat, filebeat, packetbeat to see which parts of the Dashboards still work.

This is related to https://github.com/elastic/beats-dashboards/issues/49

[2015-12-09 19:44] damm commented on #49
That's the experience I had; deleting https://github.com/elastic/beats-dashboards/blob/master/dashboards/search/Default-Search.json fixed it.

I suspect having people run load.sh and not being able to query anything but packetbeat data is not the expected result?

[2015-12-09 23:47] bascht commented on #2
Sorry, busy week. I didn't have time to look into this, are you still stuck and is there anything I can help out with?

[2015-12-10 01:20] dedemorton opened #52 "-url option missing from usage examples in load.sh"
@monicasarbu Minor issue: shouldn't the usage notes in load.sh include the -url parameter? Or does it also work without the parameter?

Usage examples:
env KIBANA_INDEX='.kibana_env1' ./load.sh
./load.sh http://test.com:9200
./load.sh http://test.com:9200 test

[2015-12-10 01:29] dedemorton commented on #44
A PowerShell script might be best because we already ask users to install PowerShell for installing on Windows.

[2015-12-10 01:30] dedemorton commented on #44
+1

[2015-12-10 08:38] monicasarbu commented on #52
@dedemorton It works without any parameter as well and it uses the ES on localhost:9200 and .kibana index to insert the dashboards.

<pre>
 ~/src/github.com/elastic/beats-dashboards [master|✔] $ ./load.sh -h
  Load the dashboards, visualizations and index patterns into the given Elasticsearch instance.
Usage:
  ./load.sh -url http://localhost:9200 -user admin -index .kibana_env1
Options:
  -h | -h

[2015-12-10 10:12] monicasarbu commented on #49
@damm Yes, it's a bug. Our goal is to be able to query packetbeat data along with other data. Thanks for reporting it.

[2015-12-10 12:12] monicasarbu opened #53 "Update all packetbeat dashboards"
Create a new search for the packetbeat data and update all packetbeat dashboards to use the search.
This fix is needed as the Default Search is not set to the packetbeat data anymore: https://github.com/elastic/beats-dashboards/pull/51

[2015-12-10 18:23] dedemorton commented on #52
@monicasarbu I've changed the note in the doc to say, "If Elasticsearch is not running on 127.0.0.1:9200, you need to specify the Elasticsearch location as an argument to the load.sh command. For example: ./load.sh -url http://192.168.33.60:9200. Use the -help option to see other available options." Do you think that is good enough? Or do you want me to specifically mention that you can specify an

[2015-12-11 09:59] monicasarbu commented on #52
@dedemorton It's enough to just explain about -url option, but I will just print the output of the load.sh -help for people to see more details.

[2015-12-15 07:38] lauid opened #55 "{"error":"NullPointerException[null]","status":500}"
[root@localhost:packetbeat-dashboards]#./load.sh -url http://localhost:9200
Loading dashboards to http://localhost:9200 in .kibana using curl:
Loading search Cache-transactions:
{"error":"NullPointerException[null]","status":500}
Loading search DB-transactions:
{"error":"NullPointerException[null]","status":500}
Loading search Default-Search:
{"error":"NullPointerException[null]","status":500}
Loa

[2015-12-16 15:09] monicasarbu commented on #55
The load.sh script is using the `curl` command to load the searches, visualizations and dashboards in Elasticsearch, so this error is returned by the `curl` command when adding to Elasticsearch.

You can try to spot for more errors that are printed out by Elasticsearch and maybe check that the curl command is working properly with simple queries:

<pre>
 curl -XGET 'http://localhost:9200/.kibana/s

[2015-12-16 15:10] monicasarbu commented on #53
done

[2015-12-16 15:10] #53 closed, assigned to nobody

[2015-12-16 15:13] monicasarbu commented on #52
@dedemorton I think it makes sense to move this issue to libbeat as it applies to docs

[2015-12-16 15:45] andrewkroh opened #56 "load.sh password prompting with basic auth"
Enhance documentation and usage info with how to use the script against an ES server with Shield + basic auth.

If you just run `load.sh -url https://xyz.found.io -u admin` then you will be prompted for your password for every curl request which isn't practical.

There are a few ways to pass in the password just once.
- `load.sh -url https://xyz.found.io -u admin:password`
- `load.sh -url https://

[2016-01-13 21:08] monicasarbu opened #64 "Add load script for Windows"
Merge to the 1.1 branch the PR: https://github.com/elastic/beats-dashboards/pull/57

[2016-01-13 21:13] monicasarbu opened #65 "Pass username:password to the load script"
The load script doesn't receive the password together with the username for connecting to Elasticsearch.
Passing username:password under the `user` argument doesn't work:

<pre>
./load.sh -user 'admin:xxxxxx' -url 'https://xyz.aws.found.io:9243'
</pre>

But the following command works:

<pre>
./load.sh https://admin:xxxxxx@xyz.aws.found.io:9243
</pre>

[2016-01-14 01:00] andrewkroh opened #66 "load.ps1 not working with -user flag"
[code]

@dovicn Would you mind taking a look at the PS script? Thanks!

[2016-01-14 01:02] andrewkroh commented on #64
I found an issue with the script #66 so we may want to hold off on merging to 1.1 until it gets fixed.

[2016-01-14 01:12] andrewkroh commented on #66
Unrelated to the problem, but I wanted to mention it somewhere before I forget... In case a user runs the script on an older version of PowerShell that doesn't have `Invoke-RestMethod` I think we should add the following check to the script to make the problem obvious.

[code]

[2016-01-14 18:59] andrewkroh commented on #65
Providing the password with `-user 'admin:password'` works for me. Are you sure this does not work?

See #56. It documents the possible ways to set the password.

[2016-01-14 19:02] andrewkroh commented on #64
This will need documented in the libbeat Getting Started guide where it shows how to load the dashboards on unix.

[2016-01-14 19:04] andrewkroh commented on #64
Also the projects README should be updated to show instructions for Windows.

[2016-01-14 19:06] andrewkroh commented on #56
- The scripts (both `.sh` and `.ps1`) should be updated to document how to set the password.
- Maybe add an example to the project README.
- Maybe add something to the libbeat GS guide.

[2016-01-14 22:43] #56 closed, assigned to nobody

[2016-01-14 22:43] #66 closed, assigned to nobody

[2016-01-14 22:58] #55 closed, assigned to nobody

[2016-01-16 02:22] dedemorton commented on #64
@andrewkroh I'm updating the doc to tell users how to download and run the script. Will there be a downloadable zip file somewhere equivalent to what we provide here for other platforms: http://download.elastic.co/beats/dashboards/beats-dashboards-1.1.0.tar.gz

[2016-01-18 15:09] andrewkroh commented on #64
A `tar.gz` isn't very Windows friendly so maybe we should only package the dashboards as a zip file.

@monicasarbu @tsg Any issues with me changing the release script to build a zip instead of tar.gz?

[2016-01-18 16:15] megastef opened #69 "Configurable Index Pattern"
Hi,

Would it be possible to make the index-pattern configurable?

I store topbeat data with an index pattern TOKEN_YYYY-DD-MM - while token is a prefix for each client/customer/system. In my case topbeat logs are shipped with another log shipper, which can insert any json logs to ES.

What needs to be changed to import the dashboards?
Just change title in dashboards/topbeat.json?

Thanks
Stefan

[2016-01-18 16:18] ruflin commented on #69
Is your topbeat data shipped by an other "shipper" having the exact same document structure?

[2016-01-18 17:53] megastef commented on #69
Yes, just another index pattern. I could use direct elasticsearch inserts as well (if index-pattern would be configurable in libbeat ..). But the index-pattern problem with the dashboard would remain. So I assume only this line would need to be changed by the load.sh script?
https://github.com/elastic/beats-dashboards/blob/master/dashboards/index-pattern/topbeat.json#L5

[2016-01-18 19:46] megastef commented on #69
Wow there is a lot of hard-coded stuff in libbeat and this dashboards. I see the index-pattern is in every "search" with the prefixes topbeat, filebeat,... like in here: https://github.com/elastic/beats-dashboards/blob/master/dashboards/search/Proc-stats.json#L11
So I'm thinking of a dashboard generator now.

[2016-01-18 20:07] damm commented on #69
That would be great; I always found the idea of loading a bunch of json dashboards and blobs into ES to be a bit scary.

[2016-01-18 20:59] monicasarbu commented on #69
Indeed the index pattern is hardcoded everywhere in the dashboards. An option would be to replace "topbeat-_" with "token-_" in all files under beats-dashboards/dashboards: search/System-wide.json, search/Processes.json, search/Proc-stats.json, search/Filesystem-stats.json and index-pattern/topbeat.json.

As you can configure in the beats the index pattern, it would be nice to add an option to the

[2016-01-18 22:44] megastef commented on #69
Thanks for your quick reply.
Well the pattern is not completly configurable https://github.com/elastic/libbeat/issues/318 - or did this change?

[2016-01-19 03:40] damm commented on #69
You can also ship to Logstash which can alternate the pattern...

[2016-01-20 18:35] monicasarbu commented on #64
@andrewkroh Good point, Andrew. Indeed it is strange to offer tar.gz for Windows. I totally agree that we should provide a zip archive.

[2016-01-21 01:20] damm commented on #64
Windows can handle .tar.gz by default now no? I had no problem with Windows 8 in a VM with them

[2016-01-21 23:23] dedemorton commented on #64
@monicasarbu @andrewkroh Is there a final resolution on this? If we change the script to build a zip, do we plan to do it before 1.1 ships?

[2016-01-22 19:30] dedemorton commented on #64
Just noting that the script has been updated to be a zip through this PR: https://github.com/elastic/beats-dashboards/pull/70

[2016-01-26 01:37] dedemorton commented on #52
PR https://github.com/elastic/beats/pull/847 adds info about the load commands to the doc, so I'm closing this issue now. I show the -url option in the example because it makes it more explicit that the script needs to know the location of Elastisearch (unless it's running on localhost).

[2016-01-26 01:37] #52 closed, assigned to dedemorton

[2016-01-26 18:28] andrewkroh opened #72 "Document Kibana version compatibility for new releases"
We should document that versions of Kibana that each beats-dashboards release was tested against.

[2016-01-26 19:11] andrewkroh commented on #72
Based on discussions on Slack, we believe the dashboards are compatible with all versions of Kibana 4, so one option is to just add a statement saying, "The beats dashboard require Kibana 4."

If we want to be more specific we could list the exact versions that we tested against when we made the release. Something like, "The beats dashboards need Kibana 4 and were tested with Kibana 4.1.2 and Kiba

[2016-01-27 09:23] monicasarbu commented on #72
Fixed by #860

[2016-01-27 09:23] #72 closed, assigned to nobody

[2016-01-27 09:26] monicasarbu opened #73 "load.sh fails in master"
load.sh fails to load in master. Here are the logs:

Loading dashboard Winlogbeat-Dashboard:
{"_index":".kibana","_type":"dashboard","_id":"Winlogbeat-Dashboard","_version":4,"created":false}
usage: grep [-abcDEFGHhIiJLlmnOoqRSsUVvwxZ] [-A num] [-B num] [-C[num]]
    [-e pattern] [-f file] [--binary-files=value] [--color=when]
    [--context[=num]] [--directories=action] [--label] [--line-buffered

[2016-01-27 09:31] monicasarbu commented on #73
@andrewkroh It looks to me that the load.sh fails when loading the Winlogbeat dashboard (only in master). Can you please try it on your laptop to see if it works for you? Maybe you forgot to push some files. Thanks

[2016-01-27 22:34] chuckyz opened #74 "Unanalyzed Index for beats.hostname?"
Hello,

I heavily utilize AWS which leaves me with hostnames like ip-172-31-10-10, these then are analyzed as "ip", "172", "31", ...

Would it be acceptable for me to add in an additional unanalyzed field e.g.: `beats.hostname-unanalyzed`?

[2016-01-27 23:02] andrewkroh commented on #74
Install the provided template to Elasticsearch first and the string will not be analyzed. See the [Getting Started](https://www.elastic.co/guide/en/beats/packetbeat/current/packetbeat-getting-started.html#packetbeat-template) guide.

[2016-01-28 05:08] GrahamHannington opened #75 "beats-dashboards license?"
In brief:

What type of software license applies to this elastic/beats-dashboard project? (Apache 2, like beats?) Could you please consider adding a license file to this project?

In detail:

I want to distribute Kibana dashboards - with their related visualization and search definitions - in a GitHub project.

In my GitHub project, I would like to include copies of the load.sh and load.ps1 files

[2016-01-28 11:57] monicasarbu commented on #73
An error is raised as the default version `grep` doesn't support the `-P` option, so I replaced the command with `awk`. Here is the fix: https://github.com/elastic/beats-dashboards/pull/76

[2016-01-28 11:58] monicasarbu commented on #73
The bug appears in v1.1.0, so we need to backport the fix to 1.1.0 as well.

[2016-01-28 11:59] monicasarbu commented on #73
@andrewkroh can you please test again to see if the load script works as expected on windows? Thanks!

[2016-01-28 13:35] #74 closed, assigned to nobody

[2016-01-28 13:42] andrewkroh commented on #73
I have been using RHEL lately so I didn't notice this problem because it has the `-P` option. I will retest `load.sh` and `load.ps1` on master and 1.1. today

[2016-01-28 14:20] ruflin commented on #75
@GrahamHannington Thanks for bringing this up. I added the LICENSE file here: https://github.com/elastic/beats-dashboards/pull/79

[2016-01-28 14:20] #75 closed, assigned to nobody

[2016-01-28 22:03] andrewkroh commented on #73
I tested on OSX and Windows using both master and 1.1. LGTM

[2016-01-28 22:03] #73 closed, assigned to nobody

[2016-01-29 05:59] GrahamHannington opened #80 "load.sh and load.ps1 nits"
## load.sh

Usage example comments reflect the old positional command-line parameters, not the new named parameters:

[code]
## load.sh and load.ps1

Usage text mentions "dashboards, visualizations, and index patterns", but not searches.

Typo in the usage text for the -url option: "Elasticseacrh" (sic).

I know, I'm a pedant :stuck_out_tongue:.

[2016-01-29 08:55] ruflin commented on #80
@GrahamHannington As always, thanks for mentioning this. Good docs (and especially correct docs) are as important as good code.

[2016-02-01 08:34] monicasarbu commented on #65
@pmusa Pablo, as you are the one that noticed a problem with loading the dashboards to aws.found.io, could you please let us know again what command are you using and which one is not working for you? I might have missed something in here. Thanks!

[2016-02-03 14:52] pmusa commented on #65
[code]

It failed because the password is wrong, but the request was successful. Maybe I am doing something wrong. I am using a mac.

[2016-02-03 14:55] pmusa commented on #65
I do not see any url handler inside the script itself only a $2 into curl user. So testing here, this works as well

`./load.sh https://94146e7a3afb6ed9626a95a638596dbc.eu-west-1.aws.found.io:9243/ admin:asd`

My version is beats-dashboards-1.0.1

[2016-02-04 11:53] radoondas opened #82 "Variable 'name' in script is in lowercase in load.sh"
Hi,
this would be really small update of the script. Since all of the variables are uppercase, I think it would be logical to rename also this one.

[code]

I have changed it already in my fork, I can create PR if needed.

[2016-02-05 07:29] ruflin commented on #82
For the reference, PR is already here: https://github.com/elastic/beats-dashboards/pull/83

[2016-02-05 15:06] radoondas commented on #69
Hi,
I have created my solution for this issue. radoondas/beats-dashboards commit: 38f60b0
I suppose, it should be discussed. It's more as a draft for now.
It is universal for 'unlimited' number of beats. You can also add your beats and it will work fine after new line in .beatconfig file.
Also script doesn't touch original file.

[2016-02-05 15:53] ruflin commented on #69
@radoondas I would suggest to split up this commit into two parts: 1 is cleanup with variables. Best would be to these in. Then I think on line 100 the change we should discuss start. Can you open a separate PR for the first part so the discussion gets more focused on the second part? Probably it is also worth mentioning this Idea here https://github.com/elastic/beats-dashboards/pull/84 Have a loo

[2016-02-05 18:12] radoondas commented on #69
@ruflin you are right. I was planing it but then I did just one commit. I'll split changes in to 2 different commits which can be then separately discussed. PR will be then very simple request.

[2016-02-07 19:09] ruflin commented on #69
@radoondas I would split it even into two PR's. Like this one can already be merged even if the discussion for the second should take longer.

[2016-02-07 19:31] radoondas commented on #69
@ruflin this is just the commit for configurable index patterns: 929d684
I had to 'revert' one big commit and I did split it in to two.  I'll check how will PR look like.

[2016-02-10 08:54] radoondas commented on #82
This can be closed. It was resolved by PR #86

[2016-02-10 08:54] #82 closed, assigned to nobody

[2016-03-02 12:16] vietwow opened #88 "MongoDB performance dashboards errors"
Hi,

 I use beats 1.1.1 (with ES 2.2 and Kibana 4.4.1). When I import beats-dashboards 1.1.1, and access Kibana web -> Setting tab -> Indices tab -> Index Patterns, click on "packetbeat-*" and it warning :

So when I use packetbeat to monitor mogodb, and see the dashboard "MongoDB performance", it corrupts 3 dashboards (remainning other dashboards still is working well) with the error :

I suspect

[2016-03-03 13:44] radoondas opened #89 "Ability to choose which dashboards to import for Kibana"
Use case here is that if I run only topbeat, I don't want to import all other beats in to my Kibana.
I think it can be taken in consideration in next generation of dashboards when (for example) merged to beats itself.

I have a little idea how to do it with current setup. it would require only little changes in to the structure of dashboards and load script itself. If there is interest for the enh

[2016-03-03 13:47] ruflin commented on #89
I plan to solve this by moving the dashboards to each beat: https://github.com/elastic/beats/issues/1102 See https://github.com/elastic/beats/pull/1103 as a first approach.

[2016-03-03 13:52] radoondas commented on #89
OK, this makes sense and I like it.
I'll leave this as is and maybe help with elastic/beats#1102.

[2016-03-07 10:29] monicasarbu commented on #44
done in https://github.com/elastic/beats-dashboards/pull/57

[2016-03-07 10:29] #44 closed, assigned to nobody

[2016-03-14 15:02] starlessboi opened #91 "problem in creating index patterns"
Hi, thanks for your great job
I have a problem after import of dashboard by load.sh,
after import in kibana setting-> indices page on left side there is no [filebeat-]YYYY.MM.DD ... format patterns, the available pattern is filebeat-\*  ...
the output, when importing file by load.sh is as below (everything seem to be normal):

./load.sh -url "http://localhost:9200"ocalhost:9200/.kibana
Loading das

[2016-03-14 23:12] borian commented on #91
I have also experienced problems when creating an index
The [load.sh](https://github.com/elastic/beats-dashboards/blob/master/load.sh#L117) script parses the name wrong and adds an extra comma at the end.
`filebeat-*,` instead of `filebeat-*`

[2016-03-15 13:17] ruflin commented on #91
@starlessboi In Kibana for you need to select `Use event times to create index names [DEPRECATED]` do set daily patterns. We need to update our docs here. Thanks for bringing this up. It is ok here to use ?`filebeat-*` as pattern. Is that an issue for you?

@borian Which OS are you using?

@dedemorton FYI

[2016-03-15 13:29] borian commented on #91
@ruflin I use a docker container with debian 7

[2016-03-16 10:21] borian commented on #91
OK, I found the source of my problem,
when `"title": "topbeat-*"` is not the last element in the json document the `awk` command also reads the json `,` delimiter

I was using my custom file, and did not define it as the last json element

[2016-03-16 11:52] ruflin commented on #91
@borian Thanks for tracking this done. We should probably fix that in the import script?

Update: Just saw https://github.com/elastic/beats-dashboards/pull/92

[2016-03-17 09:43] monicasarbu commented on #91
@starlessboi The format `[filebeat-]YYYY.MM.DD` is obsolete in Kibana and I replaced it recently with the index pattern `filebeat-*`. Only the name changed, the format of the index pattern is the same.

[2016-03-17 09:44] monicasarbu commented on #91
Thank you @borian for the quick fix.

[2016-03-17 09:46] monicasarbu commented on #91
Closing it as the docs are also updated in the current version. @starlessboi feel free to re-open it if you still encounter problems.

[2016-03-17 09:46] #91 closed, assigned to nobody

[2016-03-23 18:18] LeeDr opened #94 "beats-dashboards should not use dynamic typing"
There's have a problem when you load beats-dashboards BEFORE saving other items from Kibana.  I first noticed the problem when I tried to use the Kibana Timelion plugin and got an error;

[code]

This is because when beats-dashboards were loaded, hits was saved as a long, but Kibana and [all?] plugins use an 'int' for hits.
@rashidkpc please correct me if I got this wrong.
- Kibana _could_ set the

[2016-03-23 18:48] LeeDr commented on #94
Confirmed.  I started Kibana before installing the beats-dashboards, (I had a .marvel-es-1-\* index pattern), I went to Discover tab and used that index pattern and saved the default search.  Then I loaded beats-dashboards, and now Timelion does work.

[2016-03-23 21:16] monicasarbu commented on #94
@LeeDr Thank you for testing the beats dashboards. I think the problem appears because when you load the dashboards, the default search is overwritten to the one included in the beats-dashboards (that is logstash-*).

[2016-03-23 23:13] tsg commented on #94
A possible solution seems to be to run something like this in the beats-dashboards loading script before loading the searches/viz/etc.:

[code]

I think this is essentially your third option and seems to be enough to get Timelion running. @rashidkpc: are there any other fields besides `hits` and `version` that might trigger the same issue?

[2016-03-24 13:15] tsg commented on #94
This should be fixed now in master and 1.2.0 branch. Thank you @LeeDr and @rashidkpc for finding and investigating this!

[2016-03-24 13:15] #94 closed, assigned to nobody

[2016-03-24 16:31] LeeDr commented on #94
I've verified on my integration test system :-)

[2016-03-30 00:32] alexanderfichel opened #100 "No dashboards actually show up after running script"
I am using AWS managed service and I get:

[code]

So it is not using AWS signed requests? Any way you guys could maybe add that feature?

Even if I put open domain policy: I get false for created so nothing gets created...

[code]

[2016-03-30 10:43] tsg commented on #100
I marked it as an enhancement request. I'm not too familiar with the AWS search service, is there no way of using basic auth or an HTTP header for auth?

[2016-03-30 16:51] alexanderfichel commented on #100
Well, after I set to open domain policy, the authorization error went away, but all "created" are false

[2016-03-30 17:41] tsg commented on #100
created false just means that the doc was already there and it got overwritten. How do you check if the dashboards are loaded?

[2016-03-30 18:02] alexanderfichel commented on #100
I just go to Kibana dashboards and refresh the browser, shouldn't they just appear there?

[2016-03-30 18:13] dedemorton commented on #100
Did you open the saved dashboards as described in the doc? https://www.elastic.co/guide/en/beats/libbeat/current/view-kibana-dashboards.html

[2016-03-30 18:21] dedemorton commented on #100
To clarify my previous comment: Did you go to the Dashboard page and click the Load Saved Dashboard icon? You need to do that and then select Packetbeat Dashboard from the list, and you'll be able to select from the Beats dashboards.

[2016-03-30 23:59] alexanderfichel commented on #100
Yes, I did that. Actually a similar issue can be seen in stackoverflow:

http://stackoverflow.com/questions/34802545/uploading-dashboards-to-elastic-search-kibana-for-beats-topbeats

[2016-03-31 00:41] alexanderfichel commented on #100
I completely wiped out my indices and ran command:

[code]

I get good output:

[code]

Then I ran logstash:

[code]

Still when I go to kibana, I cannot see the beats dashboards :(

And yes I followed this guide:
https://www.elastic.co/guide/en/beats/libbeat/current/view-kibana-dashboards.html

One thing to note, is I never see the predefined index patterns it supposedly creates from the guide ab

[2016-03-31 00:43] alexanderfichel commented on #100
From the AWS console the dashboards actually do get created, but nothing seen in actually kibana dashboard

![image](https://cloud.githubusercontent.com/assets/4475946/14162226/c682bb06-f69e-11e5-9220-88065438b0de.png)

[2016-03-31 09:00] monicasarbu commented on #100
@GittyHup By default, the `load.sh` script is loading the Kibana dashboards to the `.kibana` index. If you want to use `.kibana4` instead then you can run the following command:

<pre>
./load.sh -url "search-123.us-west-2.es.amazonaws.com" -index .kibana4
</pre>

The topbeat-\* index pattern is used by Topbeat to store the system statistics.

[2016-03-31 16:58] alexanderfichel commented on #100
@monicasarbu Thank you!!! I had to change to .kibana-4 instead though. But it finally works!

[2016-04-01 23:03] #100 closed, assigned to nobody

[2016-04-03 18:20] monicasarbu opened #104 "Add NFS dashboard to Navigation"
As of https://github.com/elastic/beats-dashboards/pull/103 a new dashboard was created for the NFS module, so we need to update the Navigation to add a new link to the dashboard.

[2016-04-14 12:36] megastef commented on #69
Hi, I used https://github.com/elastic/beats-dashboards/commit/929d684163f37fa9db0e48729cd34b73763f333a for some tests and wonder why it is not merged. It did work so far (beside the fact that dashboards did not use .raw fields for strings, and  had not the right mapping for topbeat in place, but I assume this was my fault). It would be helpful if the dashboard loader could place the right mapping

[2016-04-15 21:06] #104 closed, assigned to nobody

[2016-06-20 11:50] vineet01 commented on #26
Creating a template before starting topbeat solves this issue. Confirmed!

[2016-06-27 18:22] ghost commented on #89
What's the current status of this work?  I'm having trouble following the discussions on links to other issues that seemed to be closed.  We also only run topbeat and would like a way to load only that one into Kibana.
Thanks.

[2016-06-27 18:46] damm commented on #89
Yeah it would; reduces breakage when people load the dashboards because they are not loading so many components.

really beats-dashboards should be broken down into the sub components that it's doing vis for; you could load the topbeat component and render topbeat and be done.

Only load what you need to survive.

[2016-06-27 18:51] monicasarbu commented on #89
The beats-dashboards repository is not used anymore. The dashboard(s) are spread to each Beat repository (see [etc/kibana](https://github.com/elastic/beats/tree/master/packetbeat/etc/kibana) directory). You can now import only the dashboard(s) of a single Beat by using the `import_dashboards.sh` script available in the Beat package and also [here](https://github.com/elastic/beats/blob/master/dev-t

[2016-06-27 18:54] monicasarbu commented on #89
Closing this issue as it is fixed using the `import_dashboards.sh` available in the beats/dev-tools repository.

[2016-06-27 18:54] #89 closed, assigned to nobody

[2016-06-27 20:07] ghost commented on #89
@monicasarbu: This doesn't look to be the case if we're using topbeat.  1.2.3 looks like the latest version and it's not packaged with the dashboards.  I know metricbeat is replacing it, but that's still in alpha for ES 5.0.  I'm using ES 2.3.3.

[2016-06-27 21:21] ghost commented on #89
Can anyone tell me which searches and visualizations in the beats-dashboards package go with topbeats.  I think if I can just delete the others from the dashboards directory maybe I can use the import_dasboards.sh script to load just the json files for topbeats.

Thanks.

[2016-06-27 22:01] damm commented on #89
@PMDubuc https://github.com/damm/beats-dashboards/commit/66c8ba55727409f44b3aba65a3355a3af0e33cc7

That's what I did awhile back... it may not be all inclusive

[2016-06-28 12:37] ghost commented on #89
@damm Thank you!

[2016-06-28 12:48] monicasarbu commented on #89
@PMDubuc Yes, you are right. Unfortunately it's not available in 1.2.3 and it would be a bit difficult to backport the changes from 5.0. The good thing is that soon 5.0 will be GA.

[2016-06-28 20:37] ghost commented on #89
This works: Copy the dashboards directory out of the beats-dashboards-1.2.3.zip to a topbeat-dashboards directory and remove all but the following:

[code]

Then you can use the import_dashboards.sh script like this:

./import_dashboards.sh -dir ./topbeat-dashboards -url http://${HOST}:${PORT}

When you display the Topbeat-Dashboard you can delete the empty Navigation pane and save (overwrite) the

[2016-08-19 13:48] maziyarpanahi commented on #88
@vietwow yes I have the same issue. Some of the visualizations are using fields that they are no longer exist apparently.

[2016-08-22 11:19] tsg opened #118 "Nav widget issue with Kibana alpha5"
While testing 1.3 with Kibana alpha5, I noticed that the Markdown titles in the Nav widget are not getting rendered:

<img width="478" alt="screen shot 2016-08-22 at 14 16 23" src="https://cloud.githubusercontent.com/assets/101817/17853087/52ee2a8a-6873-11e6-8a09-cd535079830a.png">

The reason seems to be a missing space before the titles. i.e. we have:

[code]

and should have:

[code]

[2016-08-22 13:39] megastef commented on #69
Any news on this? I've seen this merge: https://github.com/elastic/beats/pull/2119/files which closes https://github.com/elastic/beats/issues/921

[2016-08-22 18:51] monicasarbu commented on #69
@megastef Yes, https://github.com/elastic/beats/pull/2119 adds support to configure the entire index pattern in the Beat configuration file, not only the index base name.

We [improved](https://github.com/elastic/beats/issues/2299) the way we import the Beats dashboards in 5.0. Each Beat package comes with the `scripts/import_dashboards` app that imports the index-pattern, Kibana dashboards, and i

[2016-08-22 18:51] #69 closed, assigned to nobody

[2016-08-23 13:20] tsg commented on #118
Fixed with #120.

[2016-08-23 13:20] #118 closed, assigned to monicasarbu

[2016-10-16 07:38] hideokamoto opened #122 "Fail "pip install -r requirements.txt""
In  README.md, `pip install -r requirements.txt` is not working.
I think this command should run in `save` directory.

[2016-11-11 09:30] arnelcapendit commented on #38
Hello Guys,
I will seek some expert advise here. Cause currently we are working on the customization of our Kibana tool and we are trying to by pass the Kibana default index which was the 'kibana.index' and experimenting to alter it by creating another index. We want to have custom index so that all visualizations and dashboards will not go through the default one. Is that possible? We tried to mo

[2016-11-11 11:53] ruflin commented on #38
@arnelcapendit For questions please use https://discuss.elastic.co/c/beats

[2017-05-07 03:45] gsaslis commented on #88
anyone ever found their way out of this one?

[2017-05-09 08:45] ruflin commented on #88
Dashboards are now part of the beats repo directly found here: https://github.com/elastic/beats Which version of the dashboards did you use with which elastic stack versions?

[2019-05-31 23:56] #49 closed, assigned to nobody

[2021-04-01 08:31] miss-angellina opened #125 "> Leave a comment(Optional)"
[]()304725254251155

_Originally posted by @miss-angellina in https://github.com/wildnex/JudgeThem/issues/1#issuecomment-811744750_

[2021-04-01 08:32] miss-angellina commented on #125
@miss-angellina

[2021-04-01 10:56] #125 closed, assigned to nobody